@media (max-width: 1200px) {}

@media (max-width: 992px) {

    /* ====     header   ==== */
    header nav .navlinksDiv ul li,
    header nav .iconsDiv ul li {
        margin: 0.2rem 0.2rem;
    }

    /* ====   offer-section  ==== */
    .offer-section {
        height: 60vh;
    }

    .offer-section .offer-section-div {
        height: 60vh;
    }
}

@media (min-width: 768px) {

    /* ====   product-card-section  ==== */
    /* cards area */
    .product-card-section .card .custom-card-body .addCart i {
        margin-right: 10px;
    }
}

@media (max-width: 768px) {
    main {
        margin-top: 56px;
    }

    /* ====     header   ==== */
    /* ====     icons links   ==== */
    header nav .iconsDiv ul li {
        margin: 0.4rem;
    }

    header nav .iconsDiv ul li .icon {
        width: 40px;
        height: 40px;
    }

    /* ====     section    ==== */
    /* ====     hero section  ==== */
    .hero_section {
        height: 100%;
    }

    .hero_section .card p {
        font-size: var(--link-primary-font);
    }

    .hero_section .card img {
        height: 35vh;
    }

}

@media (max-width: 576px) {

    /* ====     header   ==== */
    header nav .navbar-brand {
        font-size: var(--sub-heading-mid);
        font-weight: 600;
    }

    /* ====     section    ==== */
    /* ====     hero section  ==== */
    .hero_section .card h5 {
        font-size: var(--heading-size-large);
    }

    /* ====     section  ==== */
    /* ====   product-card-section  ==== */
    .product-card-section .col {
        padding: 0 1rem;
    }

    /* ====     section  ==== */
    /* ====   offer-section  ==== */
    .offer-section .offer-section-div .card {
        text-align: end;
    }

    .offer-section .offer-section-div .card p {
        font-size: var(--link-primary-font);
    }

    .offer-section .offer-section-div .card h2 {
        font-size: var(--heading-font);
    }

    /* ====     section  ==== */
    /* ====   best-seller-section  ==== */
    .best-seller-section .card-area .card-body a {
        font-size: var(--paragraph-size-small);
    }

    /* ====     footer  ==== */
    /* ====     footer bottom   ==== */
    .footer-bottom p {
        font-size: var(--paragraph-size-small);
    }
}