@media (max-width: 1200px) {}

@media (max-width: 992px) {

    /* ==== header ==== */
    header nav .navlinksDiv ul li,
    header nav .iconsDiv ul li {
        margin: 0.2rem 0.2rem;
    }
}

@media (max-width: 768px) {

    /* ====     header icons links   ==== */
    header nav .iconsDiv ul li {
        margin: 0.4rem;
    }

    header nav .iconsDiv ul li .icon {
        font-size: var(--link-font);
        width: 40px;
        height: 40px;
    }
}

@media (max-width: 576px) {

    /* ==== header ==== */
    header nav .navbar-brand {
        font-size: var(--header-font-sm);
        font-weight: 600;
    }
}