/* ==== Start reset  ==== */
.form-select:focus,
.form-control:focus {
    border: 1px solid var(--secondary);
}

/* ==== End reset   ==== */

/* ==== Start right-col section  ==== */
/* ==== Start Start form section  ==== */
.right-col form .btn {
    background-color: var(--primary);
    color: var(--background-light);
}

.right-col form .btn:hover {
    box-shadow: 0 0 20px var(--primary);
}

/* ==== End Start form section  ==== */

/* ==== Start catregories  ==== */
.right-col .catregories ol li {
    padding: 0 2rem;
}

.right-col .catregories ol li span {
    color: var(--light-text);
}

/* ==== End catregories  ==== */

/* ==== Start range-select  ==== */
.right-col .range-select input[type=range] {
    width: 90%;
    margin: 0 auto;
    color: var(--primary);
}

.right-col .range-select output {
    padding-left: 1.6rem;
    color: var(--text-color);
}

/* ==== End range-select  ==== */

/* ==== Start cstm-rating  ==== */
.right-col .cstm-rating .form-check {
    width: 80%;
    margin: 0.2rem 2rem;
}

.right-col .cstm-rating .form-check input[type=checkbox] {
    margin-right: 0.8rem;
    box-shadow: none;
}

.right-col .cstm-rating .form-check label {
    color: var(--bold-text);
}

.right-col .cstm-rating .form-check label i {
    color: var(--text-color)
}

/* ==== End cstm-rating  ==== */

/* ==== Start frature_product  ==== */
.right-col .feature_product .col {
    cursor: pointer;
    margin-left: 1rem;
}

.right-col .feature_product .col h5 {
    text-transform: capitalize;
}

.right-col .feature_product .col .card{
    border: none;
}

.right-col .feature_product .col .card-body .rating i {
    color: var(--hover);
    margin: 0 0.1rem 0.8rem 0;
}

/* ==== Start left-col section  ==== */
/* ==== Start card  ==== */
.left-col .product-card-section .card {
    border-radius: 20px;
}

.left-col .product-card-section .card img {
    border-radius: 20px;
}

/* ==== End right-col section  ==== */


/* ====   Start Responsive area  ==== */

@media (max-width: 768px) {

    /* ====   Start product-card-section  ==== */
    .left-col .product-card-section .card .card-body .addCart i {
        margin-right: 10px;
    }

    /* ====   End product-card-section  ==== */
}

@media (max-width: 576px) {

    /* ==== Start right-col section  ==== */
    .right-col{
        width: 80%;
        margin: 0 auto;
    }

    /* ==== Start catregories  ==== */
    .right-col .catregories ol li {
        padding: 0 0.8rem;
    }
    /* ==== End catregories  ==== */

    /* ==== Start range-select  ==== */
    .right-col .range-select output {
        padding-left: 1.2rem;
    }

    /* ==== End range-select  ==== */

    /* ==== Start cstm-rating  ==== */
    .right-col .cstm-rating .form-check {
        margin: 0.2rem 1rem;
    }
    /* ==== End cstm-rating  ==== */

    /* ==== Start frature_product  ==== */
    .right-col .feature_product .col {
        margin-left: 0.2rem;
    }
    /* ==== End frature_product  ==== */
}
