@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: content-box;
}

html {
    scroll-behavior: smooth;
}

body {
    overflow-y: scroll;
}

main {
    margin-top: 68.7px;
}

a {
    text-decoration: none;
    outline: none;
    color: var(--p-color);
}

:root {
    /* ====     varibales colors     ==== */
    --background-color: #eae7dc;
    --outline: #d8c3a5;
    --heading-color: #8A9A5B;
    --hover: #e85a4f;
    --link-color: #e98074;
    --p-color: #c9c9c9;

    /* ==== varibales font ==== */
    --text-size-mega: 2em; /* 32px */
    --heading-size-large: 1.75em; /* 28px */
    --heading-font: 1.5em; /* 24px */
    --sub-heading-mid: 1.25em; /* 20px */
    --link--primary-font:  1em; /* 16px */
    --paragraph-size-small: 0.8em; /* 12px */
}

.flex {
    display: flex;
    justify-content: center;
    align-items: center;
}

/* ====     header   ==== */
header nav {
    background-color: var(--background-color);
    border-bottom: 2px solid var(--outline);
}

header nav .brand {
    font-size: var(--text-size-mega);
    font-weight: 800;
    text-transform: capitalize;
    letter-spacing: 2px;
    color: var(--heading-color);
    margin: 0;
}

header nav .navbar-toggler {
    border: none;
}

header nav .navbar-toggler:focus {
    box-shadow: none;
}

header nav .navbar-toggler:hover {
    background-color: var(--outline);
}

/* ====     header   ==== */
/* ====     nav links    ==== */
header nav .navlinksDiv ul li,
header nav .iconsDiv ul li {
    margin: 0.4rem 0.8rem;
    font-size: var(--link-primary-font);
    font-weight: 400;
    letter-spacing: 1px;
}

header nav .navlinksDiv ul li a.active {
    font-weight: 800;
}

/* ====     header   ==== */
/* ====     icons links   ==== */
header nav .iconsDiv ul {
    display: flex;
    flex-direction: row;
}

header nav .iconsDiv ul li {
    display: inline-block;
    border-radius: 50%;
    background-color: var(--p-color);
    margin: 0.2rem 0.8rem;
}

header nav .iconsDiv ul li .icon {
    display: table-cell;
    vertical-align: middle;
    text-align: center;
    width: 45px;
    height: 45px;
    transition: all 0.2s ease-in-out;
}

header nav .iconsDiv ul li .icon:hover,
header nav .navlinksDiv ul li:hover a {
    color: var(--hover);
}

/* ====     section  ==== */
/* ====   hero section  ==== */
.hero_section {
    background: linear-gradient(rgba(245, 245, 245, 1), rgba(245, 245, 245, 0.4)), url(../images/gabriel-gurrola-background.jpg);
    height: 100%;
    object-fit: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.hero_section .card {
    border: none;
    background: none;
}

.hero_section .card img {
    width: 100%;
    height: 90%;
    border-radius: 20px;
    opacity: 1;
}

.hero_section .card p {
    font-size: var(--sub-heading-mid);
    color: var(--hover);
}

.hero_section .card h5 {
    font-weight: 800;
    letter-spacing: 2px;
    font-size: var(--text-size-mega);
    color: var(--heading-color);
}

.hero_section .card .d-flex .form-control {
    border: none;
}

 .hero_section .card .d-flex .form-control:focus {
    box-shadow: none;
}

 .hero_section .card .d-flex button {
    border: 2px solid var(--outline);
}

.hero_section .card .d-flex button:hover{
    color: var(--hover);
}
